<%- include('templates/header', { title: 'My Favourite Recipes' }) %>

<div class="container py-5">
  <h2 class="mb-4 text-center">My Favourite Recipes</h2>
  <div class="row row-cols-1 row-cols-md-3 g-4">

    <% if (meals.length === 0) { %>
      <p class="text-center">You do not have any favourites recipes yet. Try adding some!</p>
    <% } %>

    <% meals.forEach(meal => { %>
      <div class="col">
        <div class="card h-100">
          <img src="<%= meal.thumbnail %>" class="card-img-top" alt="<%= meal.name %>">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title"><%= meal.name %></h5>
            <p><strong>Category:</strong> <%= meal.category %></p>
            <p><strong>Origin:</strong> <%= meal.area %></p>
            <a href="/available-recipes/recipe/<%= meal._id %>" class="btn btn-outline-primary mt-auto">
              Full Instructions
            </a>
            <form action="/favourites/remove/<%= meal._id %>" method="POST" class="mt-2">
                <button class="btn btn-outline-secondary btn-sm w-100">Remove from Favourites</button>
            </form>

          </div>
        </div>
      </div>
    <% }) %>

  </div>
</div>

<%- include('templates/footer') %>
